
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutManagers.cshtml";

}

<h2>ChangePassword</h2>

<!DOCTYPE html>
<html>
<head>
</head>

<body>

    @using (Html.BeginForm("ConfirmChangePassword", "Manager", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Manager</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-2">Please enter you new Password</label><br />
                <div class="col-md-10">
                    <input class = "form-control" id="password" name="password" type="password" />
                </div>
            </div>

            <div class="form-group">
                <label class = "control-label col-md-2">Confirm Your new Password</label><br />

                <div class="col-md-10">
                     <input id="confirmPassword" name="confirmPassword" class = "form-control" type="password" /><br />

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <label class="label-warning">@TempData["changePassword"]</label>
                </div>
            </div>
        </div>
    }






    <script></script>
</body>
</html>