@model DeliverySite.ModelView.ProductViewModel
@{
    ViewBag.Title = "ShowProducts";
}

<h2>Show Products</h2>


<style>
    body {
        background: #E6E6FA;
    }

    .search {
        float: left;
        margin: 20px;
    }

    table#t01 th {
        background-color: black;
        color: white;
    }

    .headLine {
        color: deepskyblue;
        font-size: 130%;
        font-weight: bold;
    }

    table#t01 tr:nth-child(even) {
        background-color: #eee;
    }

    table#t01 tr:nth-child(odd) {
        background-color: #fff;
    }

    table {
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>


<table class="table">
    <tr>
        <th>
            Product ID
        </th>
        <th>
            Product Name
        </th>
        <th>
            Price
        </th>
        <th>
            Company Code
        </th>
       
    </tr>

    @foreach (var item in Model.products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrdId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompCode)
            </td>
        </tr>
    }

</table>
