@model DeliverySite.ModelView.ManagerViewModel

@{
    ViewBag.Title = "Contact Manager";
    Layout = "~/Views/Shared/_LayoutCompanies.cshtml";

}




<h2>Contact Manager</h2>

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<style>
    body {
        background: #E6E6FA;
        padding-top: 54px;
        color: black;
    }

    * {
        box-sizing: border-box;
    }

    /* Create two unequal columns that floats next to each other */
    .column {
        float: left;
        padding: 10px;
        height: 120px; /* Should be removed. Only for demonstration */
    }

    .left {
        width: 120px;
    }

    .right {
        width: 120px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>

    <form method="post" action="../Company/SendMail">

        @Html.DropDownListFor(m => m.manager.Id, new SelectList(Model.managers, "Id", "FirstName"), "Please Choose The Manager", new { name = "Name", id = "Id", @class = "btn btn-default dropdown-toggle" })

        <br />
        <br />

        <div>
            <label class="loginFormElement">Company Code:</label>
            <input class="form-control" id="ID" name="ID" readonly="readonly" placeholder=@Model.company.CompCode value=@Model.company.CompCode>
        </div>

        <br />
        <br />

        <div>
            <label class="loginFormElement">Reason For Referral :</label>
            <input type="text" class="form-control" id="reason" name="reason">
        </div>
        <br />
        <br />
        <div>
            <label class="loginFormElement">Referral Details:</label><br />
            <textarea rows="5" cols="50" id="textarea" name="textarea">
            </textarea>
        </div>
        <br />

        <input type="submit" name="login" class="login login-submit" value="Send Request">
    </form>


    @TempData["mailSent"]
    @TempData["errorFindTheManager"]
    @*@Html.ValidationSummary()*@

</body>

</html>