
    @{
        ViewBag.Title = "Welcome to Contact Page";
    }
    <h2>@ViewBag.Title.</h2>
<h1 style="background-color:LightGray;">

    Contact With us


    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        Phone Number : 425.555.0100<br/>
       
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>


</h1>
