@{
    ViewBag.Title = "Home Page";
    if (Session["ManagerLoggedIn"] != null)
    {
        Layout = "~/Views/Shared/_LayoutManagers.cshtml";
    }
    else if (Session["UserLoggedIn"] != null)
    {
        Layout = "~/Views/Shared/_LayoutUsers.cshtml";
    }
    else if (Session["CompanyLoggedIn"] != null)
    {
        Layout = "~/Views/Shared/_LayoutCompanies.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";

    }
}

<div class="jumbotron">
    <h1>Delivery</h1>
    <p class="lead"></p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>